{% extends 'main.html' %}
{% load static %}

{% block main %}
<!-- about section -->

<section class="user_section layout_padding">
	<div class="container  ">
		<div class="row">
			<div class="col-md-6">
				<div class="heading_container">
					<h2>
						User Dashboard
					</h2>
				</div>
			</div>
		</div>
		<div class="user_dashboard">
			<div class="navigation">
				<ul>
					<li>
						<a href="#" id="title1">
							<span class="icons"><i class="fa fa-user" aria-hidden="true"></i></span>
							<span class="title">Profile</span>
						</a>
					</li>
					<li>
						<a href="#" id="title2">
							<span class="icons"><i class="fa fa-cart-plus" aria-hidden="true"></i></span>
							<span class="title">Orders</span>
						</a>
					</li>
					<li>
						<a href="#" id="title3">
							<span class="icons"><i class="far fa-money-bill-alt"></i></span>
							<span class="title">Payment</span>
						</a>
					</li>
					<li>
						<form action="{% url 'user' %}" method="POST">
							{% csrf_token %}
							<button name="sing_out" class="sing_out" value='1'>
								<span class="icons"><i class="fas fa-sign-in-alt"></i></span>
								<span class="title">Sing Out</span>
							</button>
						</form>
					</li>
				</ul>
			</div>
			<div class="user_data_section container col-sm-6">
				<div id="profile" style="color: aliceblue; ">
					<div class="user_profile_data">
						<div class="text-center col-sm-3">
							<img src="{% static 'images/User-Profile.png' %}" class="rounded" alt="User Profile">
						</div>
						<div class="user_name">
							<h2 class="user_name">Abhishek Dubey</h2>
							<span class="user_email">abhishekdubey1412@gmail.com</span>
						</div>
						<div class="edit_section">
							<button id="edit_button">Edit</button>
						</div>
					</div>
					<hr>
				</div>
				<div id="payment" class="active_data" style="color: aliceblue;">
					payment
				</div>
				<div id="order" class="active_data" style="color: aliceblue;">
					order history
				</div>
			</div>
			<div class="toggle" onclick="toggleMenu();"></div>
		</div>
	</div>
</section>

<!-- end about section -->
{% endblock main %}